html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: large;
}

#map {
    float: left;
    height: 100%;
    width: 70%;
}

#text {
    float: right;
    height: 100%;
    width: 30%;
}

#text {
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,0.10135392047443981) 100%);
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

table {
    margin-left: auto;
    margin-right: auto;
}

#slum_name, #zone {
    text-align: center;
}

.legend {
padding: 6px 8px;
background-color: rgba(144, 238, 144, 0.7);
box-shadow: 0 0 15px rgba(0,0,0,0.2);
border-radius: 5px;
line-height: 15px;
}

.legend img {
    float: left;
    margin-right: 8px;
}

.legend h3 {
    text-align: center;
    font-size: 18px;
}

div.legend.leaflet-control br {
clear: both;
}